@font-face{font-family:'Favorite';src:url('../../shared/assets/fonts/ComicShannsMonoNerdFont-Bold.woff2')format('woff2');font-weight:400;font-style:normal}
body,html{background-color:black;color:white;font-family:'Favorite';overflow:hidden;}
